* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: gray;
}

header h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem 0 1.5rem 0;
  color: #111;
}

.navbar {
  background: #000;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
}

.navbar-brand,
.nav-link {
  color: black;
  font-size: 1.5rem !important;
  padding: 0.7rem 1.2rem;
  font-weight: 100px;
  transition: 0.3s;
}

.navbar-brand:hover,
.nav-link:hover {
  color: grey;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.productos-carrito {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3rem;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
}

.productos-carrito .producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.producto h3,
h4 {
  text-align: center;
}

.productos-carrito .producto:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.productos-carrito .producto img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-bottom: 1px solid #ddd;
}

.productos-carrito .producto button,
#limpiar {
  margin: 10px 15px 15px;
  padding: 8px 0;
  border: none;
  border-radius: 6px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.productos-carrito .producto button:hover {
  background-color: #333;
}

.contenedor-total,
h5,
#total {
  text-align: left;
  font-size: 30px !important;
  margin-left: 1rem !important;
  margin-bottom: 2rem !important;
}
